:root{
    --rojoPokedex: #bd0f34;
    --rojoPokedexBg: #791228;
    --focoBlanco: aqua;
    --focoARojo: red;
    --focoAmbar: yellow;
    --focoVerde: green;

    --bordePantalla: #dedede;
    --pantalla-borde: 256px;
    --fondoPantalla: #f1f2d3;
    --fondoPantallID: #55ab62;

    --botonA: 48px;
    --ledW: 48px;
    --ledH: 16px;

    --statsColor: #032d29;
    --teclado: #31a7f1;
}

.pokedex{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 768px;
    margin: auto;
}

.superior { grid-area: 1 / 1 / 2 / 2; }
.izquierda { grid-area: 2 / 1 / 6 / 2; }
.derecha { grid-area: 2 / 2 / 6 / 3; }

@media screen and (max-width: 767px){
    /* .pokedex {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(9, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }

    .superior { grid-area: 1 / 1 / 2 / 2; }
    .div2 { grid-area: 2 / 1 / 6 / 2; }
    .derecha { grid-area: 6 / 1 / 10 / 2; } */
    .pokedex{
        display: flex;
        flex-direction: column;
        width: 366px;
    }

    .derecha{
        height: 424px;;
    }

    /* .superior, .izquierda, .derecha { width: 100%; } */
}

.superior, .izquierda, .derecha{
    background-color: var(--rojoPokedex);
}

.superior, .izquierda, .derecha{
    /* border: solid black; */
    padding: 16px;
    border: solid 4px var(--rojoPokedexBg);
    border-radius: 8px;
}

.foquitos{
    display: flex;
}

.foquito{
    border-radius: 50%;
    border: solid 4px rgb(121, 121, 121);
    width: 20px;
    height: 20px;
}

.blanco {
    width: 50px;
    height: 50px;
    background-color: var(--focoBlanco);
}

.rojo {

    background-color: var(--focoARojo);
}

.ambar {
    background-color: var(--focoAmbar);
}

.verde {
    background-color: var(--focoVerde);
}

.pantalla-border{
    /* width: var(--pantalla-borde); */
    width: 100%;
    height: var(--pantalla-borde);
    background-color: var(--bordePantalla);

    border-radius: 16px;
    position: relative;
    margin: 12px 0;
    /* padding: 16px; */
}

.pantalla {
    width: 90%;
    height: 90%;
    background-color: var(--fondoPantalla);
    border-radius: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.controles {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 8px;
    grid-row-gap: 8px;

    width: 100%;
}

.botonA {
    grid-area: 1 / 1 / 2 / 2;
    width: var(--botonA);
    height: var(--botonA);
    border-radius: 50%;
    background-color: black;
    cursor: pointer;
}
.leds {
    grid-area: 1 / 2 / 2 / 5;
    width: 100%;
    display: flex;
    margin: auto;
    justify-content: space-around;
}
.pantallaID {
    grid-area: 2 / 2 / 3 / 5;
    border-radius: 4px;
    background-color: var(--fondoPantallID);
    position: relative;
}
.cruceta {
    grid-area: 1 / 5 / 3 / 7;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    cursor: pointer;
}

.led1{
    background-color: tomato;
}

.led2{
    background-color: dodgerblue;
}

.led1, .led2{
    width: var(--ledW);
    height: var(--ledH);
    border-radius: 16px;
}

.contenidoID{
    width: 50%;
    height: 50%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.div1 { grid-area: 1 / 2 / 4 / 3; }
.div2 { grid-area: 2 / 1 / 3 / 2; }
.div3 { grid-area: 2 / 3 / 3 / 4; }

.div1, .div2, .div3 {
    width: 100%;
    height: 100%;
    background-color: black;
    border-radius: 8px;
}

.div2 {
    border-radius: 8px 0px 0px 8px;
}

.div3{
    border-radius: 0px 8px 8px 0px;
}

.informacion-poke {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    height: 100%;
    /* padding: 16px; */
}

.caracteristicas { grid-area: 1 / 1 / 3 / 3; }
.teclado { grid-area: 3 / 1 / 4 / 3; }
.dosTeclas { grid-area: 4 / 1 / 5 / 2; }
.indicador { grid-area: 4 / 2 / 5 / 3; }
.altura { grid-area: 5 / 1 / 6 / 2; }
.peso { grid-area: 5 / 2 / 6 / 3; }

.caracteristicas{
    color: yellow;
}

.statsBg{
    background-color: var(--statsColor);
    border-radius: 8px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.tipo{
    margin: 16px;
}

.stats{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1r;
    text-align: center;
    /* height: 100%; */
}

.teclado {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color: var(--teclado);
    width: 100%;
    height: 100%;
    border: solid 4px #2065ec;
    border-radius: 8px;
}

.t1 { grid-area: 1 / 1 / 2 / 2; }
.t2 { grid-area: 1 / 2 / 2 / 3; }
.t3 { grid-area: 1 / 3 / 2 / 4; }
.t4 { grid-area: 1 / 4 / 2 / 5; }
.t5 { grid-area: 1 / 5 / 2 / 6; }
.t6 { grid-area: 2 / 1 / 3 / 2; }
.t7 { grid-area: 2 / 2 / 3 / 3; }
.t8 { grid-area: 2 / 3 / 3 / 4; }
.t9 { grid-area: 2 / 4 / 3 / 5; }
.t10 { grid-area: 2 / 5 / 3 / 6; }

.t1, .t2, .t3, .t4, .t5, .t6, .t7, .t8, .t9, .t10 {
    border: solid 1px #2065ec;
}

.dosTeclas{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    background-color: #dedede;
    border: solid 4px #747474;
    border-radius: 8px;

    width: 100%;
    height: 50%;
    margin: auto;
}

.tt1 { grid-area: 1 / 1 / 2 / 2; }
.tt2 { grid-area: 1 / 2 / 2 / 3; }

.tt1, .tt2{
    border: solid 1px #747474;
}

.indicador{
    width: 100%;
    display: flex;
    margin: auto;
    justify-content: space-around;
}

.altura, .peso{
    background-color: var(--statsColor);
    height: 100%;
    border-radius: 4px;
    color:yellow;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tipos{
    display: flex;
    margin-left: 8px;
    align-items: center;
}

.tipo{
    margin: 2px;
    padding: 2px;
    border-radius: 4px;
    color: white;
}

.bug {background-color: #c0ec20;}

.water {background-color: #2065ec;}

.dark { background-color: #250f0d;}
.dragon { background-color: #575b97;}
.electric { background-color: #f1c944;}
.fairy { background-color: #dd6dff;}
.fighting { background-color: #5e4624;}
.fire { content: "Fire"; background-color: rgb(185, 42, 29)}
.flying { background-color: rgb(29, 149, 185)}
.ghost { background-color: rgb(39, 29, 185)}
.grass { background-color: rgb(117, 223, 76)}
.ground { background-color: rgb(184, 170, 91)}
.ice { background-color: rgb(141, 233, 236)}
.normal { background-color: rgb(155, 155, 155)}
.poison { background-color: rgb(132, 39, 219)}
.psychic { background-color: rgb(163, 71, 156)}
.rock { background-color: rgb(117, 111, 72)}
.steel { background-color: rgb(137, 141, 135)}